<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mixed Input Example</title>
  <link rel="stylesheet" href="styles/styles.css">
  <link rel="stylesheet" href="styles/droplab.css">
</head>
<body>
<div class="container">
  <div class="dropdown">
    <input type='text' data-id='main' class='input' data-dropdown-trigger="#dropdown-1">
    <div class='dropdown-menu' id='dropdown-1' data-dropdown>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Home</a></li>
      </ul>
      <ul data-dynamic>
        <li><a href='#' data-id='{{id}}'>{{text}}</a></li>
      </ul>
    </div>
  </div>
</div>
<script src="../dist/droplab.js"></script>
<script>
  droplab.addData('main', [{
    id: 24601,
    text: 'Jacob'
  },
  {
    id: 24602,
    text: 'Jeff'
  }]);
</script>
</body>
</html>
